Loading the data, check missing values and duplicates

In [1]:
import pandas as pd

# 1. Load the datasets
fraud_df = pd.read_csv('../data/raw/Fraud_Data.csv')
ip_df = pd.read_csv('../data/raw/IpAddress_to_Country.csv')

# 2. Check for missing values
print("Missing values in Fraud Data:\n", fraud_df.isnull().sum())
print("\nMissing values in IP Data:\n", ip_df.isnull().sum())

# 3. Check for duplicates
print("\nDuplicate rows in Fraud Data:", fraud_df.duplicated().sum())

# 4. Correct Data Types
# Convert signup_time and purchase_time to datetime objects
fraud_df['signup_time'] = pd.to_datetime(fraud_df['signup_time'])
fraud_df['purchase_time'] = pd.to_datetime(fraud_df['purchase_time'])

# 5. Quick Check
print("\nData types after correction:")
print(fraud_df.dtypes[['signup_time', 'purchase_time']])
fraud_df.head()

Missing values in Fraud Data:
 user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
dtype: int64

Missing values in IP Data:
 lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64

Duplicate rows in Fraud Data: 0

Data types after correction:
signup_time      datetime64[ns]
purchase_time    datetime64[ns]
dtype: object

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0